{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}

            <!-- Bloco de mensagens -->
            {% if messages %}
            <div id="alert-container" class="position-fixed top-0 start-50 translate-middle-x mt-3 z-index-1050" style="width: auto; max-width: 90%;">
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }} text-center" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}
            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'cadastro' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <!-- Exibe erros gerais do formulário -->
                        {% if form.non_field_errors %}
                        <div class="alert alert-danger">
                            {% for error in form.non_field_errors %}
                            <p>{{ error }}</p>
                            {% endfor %}
                        </div>
                        {% endif %}
                
                        <!-- Loop pelos campos do formulário -->
                        {% for field in form.visible_fields %}
                        <div class="mb-3 col-12 col-lg-12">
                            <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">{{ field.label }}</label>
                            {{ field }}
                
                            {% include 'partials/_alerts.html' with field=field %}
                        </div>
                        {% endfor %}
                    </div>
                    <button type="submit" class="btn btn-success col-12">Cadastrar</button>
                </form>                
            </section>
        </main>
    </div>

{% endblock %}
