{% extends 'galeria/base.html' %}
{% load static %}
{% block content %}

            <!-- Bloco de mensagens -->
            {% if messages %}
            <div id="alert-container" class="position-fixed top-0 start-50 translate-middle-x mt-3 z-index-1050" style="width: auto; max-width: 90%;">
                {% for message in messages %}
                    <div class="alert  alert-primary alert-{{ message.tags }} text-center" role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
            {% endif %}

            <section class="galeria" style="margin-left: 5em">
                <form action="{% url 'login' %}" method="POST">
                    {% csrf_token %}
                    <div class="row">
                        <!-- loop para exibir os campos do formulário -->
                        {% for field in form.visible_fields %}
                        <div class="col-12 col-lg-12" style="margin-bottom: 10px;">
                            <!-- Exibe o rotulo do campo -->
                            <label for="{{ field.id_for_label }}" style="color:#D9D9D9; margin-bottom: 5px;">{{ field.label }}</label>
                            <!-- Exibe o campo do formulário -->
                            {{ field }}
                            {% include 'partials/_alerts.html' with field=field %}
                        </div>
                        {% endfor %}                        
                    </div>
                    <div>
                        <button type="submit" class="btn btn-success col-12">Logar</button>
                    </div>
                </form>
            </section>
        </main>
    </div>

{% endblock %}




